<div class="bg-img-tomate">
  <div class="container">
    <div class="row justify-content-center p-4">
      <div class="p-4 rounded bg-white col-sm-8 col-lg-6">
        <h2>Mettre à jour mon profil</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>En attente de confirmation pour : <%= resource.unconfirmed_email %></p>
            <% end %>

            <%#= f.input :password,
                        hint: "Laissez ce champ vide si vous ne voulez pas le modifier",
                        required: false,
                        input_html: { autocomplete: "new-password" }, label: 'Nouveau mot de passe' %>
            <%#= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" }, label: 'Confirmation mot de passe' %>
            <%= f.input :current_password,
                        hint: "Il nous faut votre mot de passe pour confirmer vos modifications",
                        required: true,
                        input_html: { autocomplete: "current-password" }, label: 'Mot de passe actuel' %>
            <%= f.input :photo, as: :file %>
            <div data-controller="update-form">
              <div class="form-check form-switch ps-3" data-action="change->update-form#togglePart">
                <%= f.input :is_market, class: 'form-check-input', label: "Voulez-vous vendre vos récoltes ?", input_html: { :"data-update-form-target" => "checkbox" } %>
              </div>

              <div class="d-none" data-update-form-target="seller">
                <%= f.input :market_name,
                            required: true,
                            autofocus: true,
                            label: 'Nom de votre marché', placeholder: 'Le potager de Jean',
                            hint: "Il s'agit du nom qui sera affiché sur votre page"  %>
                <%= f.input :address,
                            required: true,
                            autofocus: true,
                            input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
  wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
                <%= f.input :phone_number,
                            autofocus: true %>
              </div>
            </div>
          </div>

          <div class="form-actions text-end">
            <%= f.button :submit, "Mettre à jour", class: 'btn btn-success' %>
          </div>
        <% end %>

        <p><%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'link-danger' %></p>

        <%= link_to "Annuler", :back %>
      </div>
    </div>
  </div>
</div>
