<div class="card-trip">
  <%= render 'products/categories', category: order.product.category %>
  <% if order.product.photo.attached? %>
    <%= cl_image_tag order.product.photo.key %>
  <% else %>
    <% case order.product.category when 'Fruit' %>
      <%= image_tag 'default-fruits.jpg' %>
    <% when 'Légume' %>
      <%= image_tag 'default-vegetables.jpg' %>
    <% when 'Viande' %>
      <%= image_tag 'default-meat.jpg' %>
    <% when 'Boisson' %>
      <%= image_tag 'default-drink.jpg' %>
    <% when 'Poisson' %>
      <%= image_tag 'default-fish.jpg' %>
    <% end %>
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h3><%= order.product.title  %></h3>
      <p><%= order.product.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= sprintf('%.2f', order.product.price) %> €</h2>
  </div>
  <div class="market-info">
    <div>
      <h3><%= order.product.user.market_name  %></h3>
    </div>
    <div class="order-date">
      <h3>à retirer le <%= order.pickup_date  %></h3>
    </div>
  </div>
</div>
