
<% if @user == current_user %>
  <div class="bg-light py-4">
    <div class="container">
      <div class="d-flex">
        <%= render 'devise/shared/avatar', user: @user %>
      </div>
      <h1 class="h2">Hi, <%= @user.first_name %></h1>
      <%= link_to 'Edit my info', edit_user_registration_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
<% end %>

<%= @user.first_name  %>
<% @user.products.each do |product| %>
  <% if product.photo.attached? %>
    <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %> <br>
  <% end %>
  <%= product.title  %> <br>
  <%= product.category  %> <br>
  <% if current_user == @user %>
    <%= button_to "Delete product", destroy_path(product), method: :delete %>
  <% end %>

<% end %>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% if current_user == @user %>
  <%= link_to "Rajouter un produit", new_page_product_path(@user) %>
<% end %>
<%# if policy(Product).new? %>
