
<% if @user == current_user %>
  <div class="container">
    <h1 class="h2">Hi, <%= @user.first_name %></h1>
    <%= link_to 'Edit my info', edit_user_registration_path, class: 'btn btn-outline-primary' %>
  </div>
<% end %>

<%= @user.first_name  %>
<% @user.products.each do |product| %>
  <% if product.photo.attached? %>
    <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %> <br>
  <% end %>
  <%= product.title  %> <br>
  <%= product.category  %> <br>
  <% if current_user == @user %>
    <%= button_to "Delete product", destroy_path(product), method: :delete %>
  <% end %>

<% end %>

<% if current_user == @user %>
  <%= link_to "Rajouter un produit", new_page_product_path(@user) %>
<% end %>
<%# if policy(Product).new? %>
