
<%= simple_form_for product do |f| %>


  <div class="form-inputs">
    <%= f.input :title, label: 'Nom du produit', placeholder: 'Panier de légumes' %>
    <%= f.input :description, label: 'Description du produit', placeholder: 'Un assortiment de légumes de saison' %>
    <%= f.input :price, label: 'Prix du produit', placeholder: '10' %>
    <%= f.input :category, as: :select, collection: Product::CATEGORIES, label: 'Catégorie', placeholder: 'Légume' %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions text-end">
    <%= f.button :submit, class:"btn btn-success" %>
  </div>
<% end %>
