<% if @user == current_user %>
  <div class="bg-light py-4">
    <div class="container">
      <div class="d-flex">
        <%= render 'devise/shared/avatar', user: @user %>
      </div>
      <h1 class="h2">Hi, <%= @user.first_name %></h1>
      <%= link_to 'Edit my info', edit_user_registration_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-4">
      <div style="width: 100%; height: calc(100vh - 66px);"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
  <div class="col-md-8 pt-4">
    <div class="d-flex">
        <%= render 'devise/shared/avatar', user: @user %>
        <div class="ms-3">
          <h1><%= @user.market_name %></h1>
          <p>Owner: <%= @user.first_name %> <%= @user.last_name[0] %>.</p>
        </div>
    </div>
    <h2 class="h3">Available product<%= (@products.count > 1 ? 's' : '') %>:</h2>
    <div class="row">
      <% @products.where(user_id: @user).each do |product| %>
        <div class="col-md-4">
          <div class="card-trip">
            <% if product.photo.attached? %>
              <%= cl_image_tag product.photo.key %>
            <% else %>
              <%= image_tag 'default-vegetables.jpg' %>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h3><%= product.title  %></h3>
                <p><%= product.description %></p>
              </div>
              <h2 class="card-trip-pricing"><%= product.price %>€</h2>
            </div>
          </div>
        </div>
        <% if current_user == @user %>
          <%= button_to "Delete product", product_path(product), method: :delete %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if current_user == @user %>
  <%= link_to "Rajouter un produit",  new_product_path(user_id: @user) %>
<% end %>
<%# if policy(Product).new? %>


<%# t.string "title"
    t.text "description"
    t.float "price"
    t.string "category" %>
